.App {
  text-align: center;
  background-image: url('../../public/background.png');
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.my-container {
    padding: 5px !important;
    background-color: white;
    border: 2px solid black !important;
}

.my-img {
    height: 80px;
    width: 80px;
    image-rendering: pixelated;
}

.my-btn {
    margin-bottom: 10px !important;
    margin-right: 10px !important;
}

.my-link {
    text-decoration: none;
    color: black
}

.my-link:hover {
    text-decoration: none;
    color: black;
}

.grow { 
    transition: all .2s ease-in-out; 
}

.grow:hover { 
    transform: scale(1.1); 
}